:root {
  font-family: Inter, Roboto, Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
